@use '../abstracts' as *;

:root {
  --post-header-gradient: rgba(255, 255, 255, 0.4);
}

.theme--light {
  --post-header-gradient: rgba(0, 0, 0, 0.4);
}

.post-template-color {
  .single__header {
    text-align: center;

    &::before {
      content: '';
      position: absolute;
      top: calc((var(--logo-height) + 4px) * -1);
      bottom: 0;
      left: calc(50% - 50vw);
      z-index: -1;
      width: 100vw;
      /* prettier-ignore */
      background: linear-gradient(var(--post-header-gradient), transparent 30%);
      background-color: var(--bg, #{$color-primary-darkest});
    }
  }

  .single__header-wrapper {
    --padding-top: #{rem(40)};
    padding-top: var(--padding-top);

    @include breakpoint('small') {
      --padding-top: #{rem(48)};
    }

    @include breakpoint('medium') {
      --padding-top: #{rem(56)};
    }

    @include breakpoint('large') {
      --padding-top: #{rem(80)};
    }

    > *:not(.featured-media) {
      @include breakpoint('large') {
        box-sizing: content-box;
        max-width: 750px;
        margin-right: auto;
        margin-left: auto;
        padding-right: rem(64);
        padding-left: rem(64);
      }
    }
  }

  .single__title {
    margin-top: rem(24);
    margin-bottom: rem(16);
  }

  .post-meta__top {
    justify-content: center;
  }

  .single__excerpt::before {
    position: relative;
    margin: 0 auto rem(8);
  }

  .single__excerpt,
  .post-meta__authors {
    margin-bottom: rem(24);
  }

  .featured-media {
    position: relative;
    margin: 0 auto;
    padding-top: rem(32);

    @include breakpoint('large') {
      max-width: 1024px;
      max-height: 768px;
    }

    img {
      position: relative;
      z-index: 1;
    }

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: calc(50% - 50vw);
      z-index: -1;
      width: 100vw;
      height: calc(100% - 15vh);
      background: $color-white-100;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      bottom: rem(-48);
      left: 50%;
      z-index: 0;
      width: 2px;
      /* stylelint-disable */
      background-image: linear-gradient(
        to bottom,
        $color-white-130 50%,
        $color-black-125 50%
      );
      /* stylelint-enable */
    }
  }
}
