@use '../abstracts' as *;

.wp-block-lazyblock-post-interactive {
  .csis-block {
    &__title {
      max-width: 100%;
      margin: 0 auto rem(12);
      padding: 0 var(--container-padding);
      @extend %font-heading-md-sans;
      text-align: center;

      @include breakpoint('medium') {
        max-width: $size__content-max-width;
        padding: 0;
      }
    }
  }
}
