@use '../abstracts' as *;

@use 'issues/csis-content';
@use 'issues/csismag-original';
@use 'issues/interactives';
@use 'issues/stats';
@use 'issues/videos-podcasts';

.csis-block {
  margin-top: rem(48);
  margin-bottom: rem(48);

  @include breakpoint('medium') {
    margin-top: rem(56);
    margin-bottom: rem(56);
  }

  &__heading {
    margin-bottom: rem(16);
    @extend %font-heading-4-xl-serif;
  }

  &__meta {
    margin-bottom: rem(4);
    @extend %font-label-lg;
    font-weight: 600;
  }

  &__type {
    letter-spacing: 0.02em;
    text-transform: uppercase;
  }

  &__series {
    font-style: italic;

    .csis-block__type + & {
      &::before {
        content: '|';
        margin: 0 5px;
        color: $color-black-125;
      }
    }
  }

  &__section-link {
    @extend %font-button;
    text-transform: uppercase;
  }

  &--interactive,
  &--content {
    .post-meta__authors {
      --post-meta: #{$color-gray-1};
      display: flex;
      @extend %font-label-sm;

      li:first-child:not(:empty)::before {
        content: 'By ';
        color: $color-primary-darkest;
        font-weight: 600;
        font-style: italic;
      }

      /* stylelint-disable-next-line */
      li + li::before {
        content: ', ';
      }

      a:hover {
        color: $color-primary-base;
      }
    }
  }
}
