:root {
  --scrollbar: 0;
  --logo-width: 120px;
  --logo-color: #{$color-black-100};
  --breadcrumbs-color: #{$color-text-gray-70};
  --breadcrumbs-color-hover: #{$color-black-100};

  @include breakpoint('medium') {
    --logo-width: 175px;
  }
}

*:focus {
  outline: 1px solid $color-primary-light;
}

.theme--light {
  --logo-color: $color-white-100;
  --breadcrumbs-color: #{$color-text-gray-10};
  --breadcrumbs-color-hover: #{$color-white-100};
}

.container {
  --padding: #{rem(20)};

  $padding: (
    'small': 24,
    'large': 48,
    'xlarge': 64,
  );

  position: relative;
  max-width: $size__container-max-width;
  margin-right: auto;
  margin-left: auto;
  padding-right: rem(20);
  padding-right: var(--padding);
  padding-left: rem(20);
  padding-left: var(--padding);

  @each $size, $value in $padding {
    @include breakpoint($size) {
      --padding: #{rem($value)};
    }
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    left: calc(50% - (var(--logo-width) / 2));
    width: var(--logo-width);
    height: 2px;
  }

  &::before {
    top: 0;
    background: var(--logo-color);
  }

  &::after {
    bottom: 0;
    background: $color-text-gray-10;
  }
}
